{% extends 'base.html' %}
{% block content %}

<h1>Post Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      
      <div class="card-content">
        <p><span class="card-title">{{ post.item }}</span></p>
        <img src="{{ post.picture }}" width="">

        <p>Description: {{ post.description }}</p>
        <p>Price: ${{ post.price }}</p>
      </div>

      <div class="card-action">
        <a href="{% url 'post_update' post.id %}">Edit</a>
        <a href="{% url 'post_delete' post.id %}">Delete</a>
      </div>
    </div>
  </div>

  <div class="col s6">
    <form action="{% url 'add_comment' post.id %}" method="POST" class="comment-content">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" class="btn" value="Add Bid">
    </form>

    {% for comment in post.comment_set.all %}

      <div class="offer-card">
       <b> <strong><p style="color:#c574f8">{{comment.user}}</p>
        <p>{{comment.content}}</p> </b></strong>
      
       <p> <a class="comment-btn" href="{% url 'comment_update' comment.id %}">Edit</a> </p>

        <p><a class="comment-btn" href="{% url 'comment_delete' comment.id %}">Delete</a></p>

        <p><a href="{% url 'contact_form' post.id %}" class="btn" style="color:#c574f8">Contact Bidder</a></p>
      </div>

      <br>
{% if comment.accepted and not comments.contact_set.all %} 
      
      <form action="{% url 'add_contact' post.id %}" method="POST">
        
        {% csrf_token %}
        {{ contact_form.as_p }}
        <input type="submit" class="btn" value="Contact">
      </form>
      {% endif %}
      {% for contact in comments.contact_set.all %}
      
        <p>{{contact.user}}</p>
        <p>{{contact.transaction}}</p>
        <p>{{contact.phone_number}}</p>
      {% endfor %} 
    {% endfor %}

    
  </div>
{% endblock %}