{% extends 'base.html' %}
{% block content%}
<div class="about">
    <h2>About Meridio</h2>
    <p>At Meridio, we believe in the power of community and the value of bringing people together. Our innovative application
        is designed for building management, making it easier for residents to be more connected with their community, and that's what
        we strive to achieve through our platform.
    </p>
    <p>Our primary goal is to create a safe and convenient marketplace within your community. With Meridio, you can say bye to the days
        of expensive movers or the hassle of finding trash pick-up vendors. Whether you're moving in or out, decluttering your space, or simply
        want to pass on some items to others who may be in need, Meridio is here to assist you every step of the way!
    </p></div>

    <!-- <p>Here are some key features that make Meridio stand out...!</p> -->

        
{% endblock %}

