{% extends 'base.html' %}
{% block content%}

<div class="about">
    <h2>About Meridio</h2>
    <p>At Meridio, we believe in the power of community and the value of bringing people together. Our innovative application
        is designed for building management, making it easier for residents to be more connected with their community, and that's what
        we strive to achieve through our platform.
    </p>
    <p>Our primary goal is to create a safe and convenient marketplace within your community. With Meridio, you can say bye to the days
        of expensive movers or the hassle of finding trash pick-up vendors. Whether you're moving in or out, decluttering your space, or simply
        want to pass on some items to others who may be in need, Meridio is here to assist you every step of the way!
    </p>

    <p>Here are some key features that make Meridio stand out...!</p></div>
    <ol>
        <div class="values">

        `<div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <h2> Community-Focused: </h2>
                  
              </div>
     
       
       <div class="flip-card-back">
            <p>Meridio is all about building strong connections within your neighborhood. Our application offers
            various communication tools and event planning features to keep everyone informed and engaged.
            </p>
        </div>
    </div>
  </div>
        
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
            <h2>Safe and Secure:</h2> 
           
        </div>
            
        <div class="flip-card-back">
            <p>Your safety and security are our top priorities. Meridio requires verifications procsses and safety
            guidelines to ensure that you're interacting with trusted individuals within your community.
        </p>
        </div>
    </div>
</div>

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
            <h2>Convenient Marketplace:</h2> 
        </div>
            
        <div class="flip-card-back">
            <p>Our platform provides a seamless marketplace for buying, selling, or giving away items within 
            your building or community. No more unnecessary expenses.
        </p>
        </div>
    </div>
</div>       

<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2> User-Friendly Interface:</h2> 
        </div>
        
        <div class="flip-card-back">
        <p>Meridio's intuitive design ensures that even those less tech-savvy can navigate the application
            with ease. Its simple, efficient, and accessible to all memebers of your community.
        </p>
    
        </div>
    </div>
</div> 

</div>
    </ol>
{% endblock %}