{% extends 'base.html' %}
{% block content%}
<header>
    <h1>Welcome to Meridio!</h1>
    <h2>Connecting Communities, One Neighbor at a Time</h2>
</header>

<section>
    <h3>What Makes Meridio Special?</h3>
    <ul>
        <li>
            <h4>Build a Safe and Convenient Marketplace</h4>
        </li>
        <li>
            <h4>Connect and Communicate</h4>
        </li>
        <li>
            <h4>Verified and Secure</h4>
        </li>
    </ul>
</section>

<section>
    <h3>Join Meridio Today!</h3>
</section>
{% endblock %}