<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <title>Welcome Page</title>
</head>
<body>
    <section>
        <video src="/assets/smoke.mp4" autoplay muted ></video>
        <h1>
            <span>M</span>
            <span>e</span>
            <span>r</span>
            <span>i</span>
            <span>d</span>
            <span>i</span>
            <span>o</span>
        </h1>
    </section>
</body>
</html>