
{% extends 'base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>

{% block content%}

<body>
    <section>
        <video src="../assets/video/smoke.mp4" autoplay muted ></video>
        <h1>
            <span>M</span>
            <span>e</span>
            <span>r</span>
            <span>i</span>
            <span>d</span>
            <span>i</span>
            <span>o</span>
        </h1>
    </section>
</body>
</html>

{% endblock %}