* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
    min-height: 100vh;

    background-color: black;
    background-image: url("/static/images/6512217\.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: thin 100;
  }

  ul {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    margin: 20px;

  }

a {
  color: white;
  text-decoration: none;
}

  p {
    text-align: center;
    margin:0 50px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  li {
    color: white;

  }
  
  main {
    flex: 1 0 auto;
    color: white;

  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: thin 100;
  }

  h2 {
    text-align: center;
    align-items: center;
  }

  .values {
    margin-top: 50px;

  }

  .about {
    backdrop-filter: blur(8px);
    background-color: #4547484d;
    margin: 100px 50px 100px 50px;
    border-radius: 10px;
    padding: 20px;

  }