* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
    min-height: 100vh;
    background-color: black;
    background-image: url("/static/images/meridioBG\.jpeg");
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: thin 100;

  }

  ul {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    margin: 20px;

  }

  li {
    color: white;

  }
  
  main {
    flex: 1 0 auto;
    color: white;

  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: thin 100;
  }