body {
    margin: 0;
    padding: 0;
}


.welcome-section {
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.welcome-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

 video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.welcome-h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-family: sans-serif;
    text-transform: uppercase;
}

.welcome-h1 span {
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px)
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blure(0)
    }
}

.welcome-h1 span:nth-child(1) {
    color: purple;
    opacity: 0;
    animation-delay: 2s;
}

.welcome-h1 span:nth-child(2) {
    opacity: 0;
    animation-delay: 2.5s;
}

.welcome-h1 span:nth-child(3) {
    opacity: 0;
    animation-delay: 2.75s;
}

.welcome-h1 span:nth-child(4) {
    opacity: 0;
    animation-delay: 3s;
}

.welcome-h1 span:nth-child(5) {
    opacity: 0;
    animation-delay: 3.5s;
}

.welcome-h1 span:nth-child(6) {
    opacity: 0;
    animation-delay: 3.75s;
}

.welcome-h1 span:nth-child(7) {
    opacity: 0;
    animation-delay: 4s;
}
